<div class="container mt-5">
  <div class="row justify-content-end">
    <div class="col-md-10 d-flex w-100 align-items-center">
      <form action="" class="w-75">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm">
          <div class="input-group">
            <input type="search" placeholder="Search" aria-describedby="button-addon1" class="form-control border-0 bg-light">
            <div class="input-group-append">
              <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </form>
      <button type="button" class="btn btn-outline-primary btn-sm py-2 h-fit-content w-80-px ml-auto">Log Out</button>
    </div>
  </div>
</div>
